<template>
  <div>
    <b-modal
      id="modal-prevent-closing"
      ref="modal"
      title="Create your book"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit="handleSubmit">
        <b-form-group
          label="Title"
          label-for="name-input"
          invalid-feedback="Title is required"
        >
            <b-form-input
                id="name-input"
                v-model="title"
                required
            ></b-form-input>
        </b-form-group>
        <b-form-group
            label="Discription"
            label-for="discription-area"
        >
            <b-form-textarea
                id="discription-area"
                v-model="discription"
                placeholder="Enter something..."
                rows="3"
                max-rows="6"
                ></b-form-textarea>
        </b-form-group>

        <b-form-group
            label="Author"
            label-for="author-input"
            invalid-feedback="Author is required"
            >
            <b-form-input
                id="author-input"
                v-model="author"
                required
            ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        name: 'AddProduct',
        title: null,
        discription: null,
        author: null
      }
    },
    methods: {
      resetModal() {
        this.title = null,
        this.discription = null,
        this.author = null
      },
      handleOk(bvModalEvt) {
        // Prevent modal from closing
        bvModalEvt.preventDefault()
        // Trigger submit handler
        this.handleSubmit()
      },
      handleSubmit() {
        window.db.collection("books").add({
            title: this.title,
            discription: this.discription,
            author: this.author
        })
        .then(function() {
            console.log("Document successfully written!");
        })
        .catch(function(error) {
            console.error("Error writing document: ", error);
        });
        // Hide the modal manually
        this.$nextTick(() => {
          this.$refs.modal.hide()
        })
      }
    }
  }
</script>