<template>
    <div class="nav__custom">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <!-- <b-navbar-brand to="/" v-if="isLogged">Book List</b-navbar-brand> -->

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <h3>Book List</h3>
                </b-navbar-nav>
                <b-navbar-nav class="ml-auto">
                    <b-nav-item to="/register" v-if="!isLogged">Register</b-nav-item>
                    <b-nav-item to="/login" v-if="!isLogged">Login</b-nav-item>
                    <b-nav-item v-if="isLogged">{{ currUser }}</b-nav-item>
                    <b-nav-item @click="logout" v-if="isLogged">Logout</b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<style lang="scss" scoped>
.nav {
    &__custom {
        padding-top: 0;
    }
}
</style>

<script>
import firebase from 'firebase'
export default {
    name: 'navbar',
    data() {
        return {
            isLogged: false,
            currUser: false,
        }
    },

    created() {
        if(firebase.auth().currentUser) {
            this.isLogged = true;
            this.currUser = firebase.auth().currentUser.email;
        }
    },
    
    methods: {
        logout: function() {
            firebase
                .auth()
                .signOut()
                .then(() => {
                    this.$router.go({ path: this.$router.path });
                });
        }
    }
}
</script>


