<template>
    <div>
        <h3 class="title">Book List</h3>
        <b-button v-b-modal.modal-prevent-closing variant="primary" class="mb-3">Add Book</b-button>
        <div class="table__custom">
            <b-table :fields="fields" :items="books">
                <template slot="action" slot-scope="row">
                    <b-button variant="outline-primary mr-2" >Edit</b-button>
                    <b-button variant="outline-primary" @click="removeBook(row.item.id)">Delete</b-button>
                </template>
            </b-table>
        </div>
        <AddProduct/>
    </div>
</template>

<script>

// import firebase from 'firebase'
import AddProduct from './AddProduct'

export default {
    data() {
        return {
            books: [],
            book: {
                title: null,
                discription: null,
                author: null,
                id: null
            },

             fields: {
                title: {
                    label: 'Title',
                },
                discription: {
                    label: 'Discription',
                },
                author: {
                    label: 'Author'
                },
                action: {
                    label: 'Action'
                }
            },
            
        }
    },

    components: {
        AddProduct
    },
           
    methods: {
        removeBook: function(id) {
            console.log(id);
            debugger;
            window.db.collection("books").doc(id).delete().then(function() {
                console.log("Document successfully deleted!");
                debugger;
            }).catch(function(error) {
                console.error("Error removing document: ", error);
            });
        }
    },

    created() {
        window.db.collection("books").onSnapshot((querySnapshot) => {
            let booklist = [];
            querySnapshot.forEach((doc) => {
                let item = doc.data();
                item.id = doc.id;
                booklist.push(item);
            });

            this.books = booklist;
        });
    }
}
</script>

<style lang="scss" scoped>
.table {
    &__custom {
        // max-width: 800px;
        margin: 0 auto;
    }
}
</style>


