<template>
  <div class="form__custom">
    <h3 class="title">Register</h3>
    <b-form @submit="register">
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          type="email"
          required
          placeholder="Enter email"
          v-model="email"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Your Password:" label-for="input-2">
        <b-form-input
          id="input-2"
          type="password"
          required
          placeholder="Enter password"
          v-model="password"
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary" class="btn__custom">Register</b-button>
      <b-button type="reset" variant="danger" class="btn__custom">Reset</b-button>
    </b-form>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ result }}</pre>
    </b-card>
  </div>
</template>

<script>
import firebase from 'firebase'
export default {
    name: 'Register',
    data() {
      return {
        email:'',
        password:'',
        result: ''
      };
    },
    methods: {
      register: function(e) {
        e.preventDefault();
        firebase
          .auth()
          .createUserWithEmailAndPassword(this.email, this.password)
            .then(user => {
              console.log(user);
              this.result = `${user.user.email} was created`;
              this.$router.go({ path: this.$router.path });
            },
            err => {
              this.result = err.message;
            }); 
      }
    },
}
</script>
