<template>
  <div id="app">
    <Navbar/>
    <div class="container">
      <router-view/>  
    </div>
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.form {
  &__custom {
    // max-width: 500px;
    margin: 0 auto;
    text-align: left;
  }
}

.btn {
  &__custom {
    margin-right: 5px;
  }
}

.title {
  font-size: 23px;
  font-weight: 600;
  margin: 20px 0 30px;
  text-transform: uppercase;
}
</style>
<script>
// @ is an alias to /src
import Navbar from '@/components/Navbar.vue'
export default {
  components: {
    Navbar,
  }
}
</script>